# Application
NODE_ENV=development
PORT=3001

# Database (Railway PostgreSQL - Public URL для локальной разработки)
# Скопируйте DATABASE_PUBLIC_URL из Railway
DATABASE_URL=postgresql://postgres:password@gondola.proxy.rlwy.net:59589/railway

# Для production Railway автоматически установит DATABASE_URL (Private URL)
