# Application
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/avtovaz

# For production (Timeweb Cloud)
# DATABASE_URL=postgresql://username:password@postgresql-xxxxx.timeweb.cloud:5432/avtovaz
